.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: row;
}

.input-budget-div {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.budget-input {
    width: 90%;
    max-width: 500px;
    height: 40px;
    margin: 1rem;
}

.combo-div {
    width: 100%;
    max-width: 500px;
}

.combo-list {
    border: 1px solid black;
    width: 100%;
    display: flex;
}

.combo-person {
    width: 33%;
    margin: 0.9rem;
    text-align: center;
}